@charset "UTF-8";

* {
  font-family: "Roboto", sans-serif;
}

html,
.v-main {
  overflow: hidden;
}

.flexContainer {
  display: flex;
  align-items: center;
  justify-content: center;
}

.container {
  height: 90vh;
  overflow-y: auto;
}

.row.table {
  width: 100%;
}

.container::-webkit-scrollbar {
  width: 8px;
}

.container::-webkit-scrollbar-thumb {
  background-color: gray;
  border-radius: 60px;
  height: 0.2px;
}

.container::-webkit-scrollbar-track {
  background: #1e1e1e;
  height: 1px;
}

.theme--dark.v-navigation-drawer {
  background: linear-gradient(174.14deg, #030303 -1.02%, #414141 66.87%, #5c5c5c 100%);
}

.v-sheet.v-app-bar.v-toolbar {
  background: linear-gradient(to bottom right, #030303 -1.02%, #313131 100%);
}

.theme--dark.v-btn.v-btn--has-bg {
  background-color: #1a1a1a;
}

.theme--dark.v-card.card {
  background-color: #2b2b2b;
  color: #ffffff;
}

@media (min-width: 935px) {
  .cardsLayout {
    justify-content: center !important;
  }
  .cardsFlex {
    flex-basis: 32.4% !important;
  }
}

.chartsGroup {
  max-width: 102% !important;
  justify-content: space-between !important;
}

.charts {
  border: 2px solid rgb(182, 182, 182) !important;
  text-align: center;
  margin: 0 auto;
  position: relative;
}

@media (max-width: 850px) {
  .chartsGroup {
    display: flex;
    flex-direction: column;
    justify-items: center !important;
    gap: 10px;
    max-width: 100% !important;
    margin: 0 !important;
  }
  .charts {
    max-width: 100% !important;
    flex: none !important;
  }
}

/* Tabelas */
.top .v-toolbar__content {
  box-shadow: 0px 0px 3px 0px rgba(0, 0, 0, 0.18);
  width: 100%;
  padding: 15px;
  overflow: hidden;
  justify-content: space-between;
}

.title_btn {
  width: 25%;
  display: flex;
  gap: 10px;
  justify-content: space-between;
  align-items: center;
}

.newBtn {
  background-color: #1e1e1e !important;
}

.searchbar {
  width: 30%;
  display: flex;
  justify-content: left;
  border: 0.1em solid gray;
  border-radius: 5px;
  background-color: whitesmoke;
}

.searchbar input {
  width: 100%;
  height: 100%;
  padding: 10px;
  border: none;
  outline: 0;
  padding-left: 10px;
  color: black;
}

.container .col-6 {
  max-width: 46%;
  min-height: 300px;
}

.modalDelete {
  background-color: #181818 !important;
}

@media screen and (max-width: 600px) {
  .title_btn {
    /* flex-direction: column; */
    padding-left: 15px;
  }
  .top {
    height: 100px !important;
  }
  .top .v-toolbar__content {
    height: 100px !important;
  }
  .searchbar {
    width: 50%;
  }

  .chartPie {
    height: 180px;
  }
}

.container .row.table {
  box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.455);
  padding: 3px;
  margin-bottom: 5px;
  width: 100%;
  margin: 0;
  margin-top: 15px;
}

@media (min-width: 900px) and (max-width: 1300px) {
  .container_master .container {
    margin: 0;
    max-width: 100vw;
  }
}

.v-data-table {
  width: 100%;
}

div.v-dialog:not(.v-dialog--fullscreen) {
  max-height: 95%;
}

.login-container {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #414141;
}